@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("../assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("../assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("../assets/fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../assets/fonts/SFUIText-Regular.ttf");
}

@font-face {
  font-family: "SFUIText-Medium";
  src: url("../assets/fonts/SFUIText-Medium.ttf");
}

@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icons.ttf");
}